{{ ansible_managed | comment }}

[client]
port            = 3306
socket          = /var/run/mysqld/mysqld.sock

[mysqld_safe]
pid-file = /var/run/mysqld/mysqld.pid
socket   = /var/run/mysqld/mysqld.sock
nice     = 0

[mysqld]
user            = mysql
pid-file        = /var/run/mysqld/mysqld.pid
socket          = /var/run/mysqld/mysqld.sock
port            = 3306
basedir         = /usr
datadir         = {{ mysql.datadir }}
tmpdir          = /tmp
skip-name-resolve
lc-messages-dir = /usr/share/mysql
explicit_defaults_for_timestamp
secure_file_priv               = NULL
long_query_time                = 2
log_slow_verbosity             = full
myisam_recover_options         = FORCE,BACKUP
max_connect_errors             = 100000
# query_cache_type               = {{ mysql.query_cache_type }}
# query_cache_min_res_unit       = 4K
tmp_table_size                 = {{ mysql.tmp_table_size }}
max_heap_table_size            = {{ mysql.max_heap_table_size }}
max_connections                = 1000
open_files_limit               = 65535
table_definition_cache         = 4096
table_open_cache               = 4096

bind-address            = 0.0.0.0
key_buffer_size         = {{ mysql.key_buffer_size }}
max_allowed_packet      = {{ mysql.max_allowed_packet }}
thread_stack            = {{ mysql.thread_stack }}
thread_cache_size       = {{ mysql.thread_cache_size }}

# query_cache_limit       = {{ mysql.query_cache_limit }}
# query_cache_size        = 0
log_error               = {{ mysql.logroot }}/error.log
slow_query_log          = On
slow_query_log_file     = {{ mysql.logroot }}/slow.log
expire_logs_days        = 10
max_binlog_size         = {{ mysql.max_binlog_size }}

character-set-server    = utf8
collation-server        = utf8_general_ci
#init-connect            = 'SET NAMES utf8'
sql_mode = {{ mysql.sql_mode }}
skip-character-set-client-handshake

innodb_buffer_pool_size        = {{ mysql.innodb_buffer_pool_size }}
innodb_flush_method            = O_DIRECT
innodb_log_files_in_group      = 2
innodb_log_file_size           = {{ mysql.innodb_log_file_size }}
innodb_flush_log_at_trx_commit = 1
innodb_file_per_table          = 1
innodb_log_buffer_size         = {{ mysql.innodb_log_buffer_size }}
innodb_read_io_threads         = 8
innodb_write_io_threads        = 8
innodb_print_all_deadlocks
innodb_print_lock_wait_timeout_info

[mysqldump]
quick
quote-names
max_allowed_packet      = 16M

[mysql]

[isamchk]
key_buffer              = 16M